@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@mixin button-main {
    margin-top: 1.25rem;
    padding: 1rem 1.1rem;
    color: $white-color;
    border: none;
    cursor: pointer;
}

@mixin respond-to($breakpoint) {
    @if $breakpoint == mobile {
        @media (max-width: 768px) {
            @content;
        }
    } @else if $breakpoint == tablet {
        @media (max-width: 1024px) {
            @content;
        }
    }
}
