:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-color: #333;
  --card-size: 100px;
  --card-border-radius: 10px;
}

$primary-color: #3498db;
$secondary-color: #2ecc71;
$success-color: #2ecc71;