@import '../../styles/variables.scss';
.footer {
  position: absolute;
  bottom: 0;
  padding: 20px;
  background-color: $bg-color-01;
  text-align: center;
  width: 100%;

  &__content {
    font-size: 14px;
    color: $primary-color;
  }
}