@import '../../styles/variables.scss';
.footer {
    position: fixed;
    bottom: 0;
    padding: 1.25rem;
    background-color: $bg-color-01;
    text-align: center;
    width: 100%;

    &__content {
        font-size: $font-size-content-01;
        color: $primary-color;
    }
}
