@import './styles/variables';
@import './styles/mixins';
.app {
    text-align: center;
    font-family: Arial, sans-serif;
}

.start-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}
.end-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}
.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    @include flex-center;
    flex-direction: column;
    gap: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
